<!DOCTYPE html>
<html>
  <head>
    <title>LOGIN de usuario</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body  id="backGracias">
    <script> document.getElementById("backGracias").style.backgroundColor = "<%= locals.color%>"</script>
      <div>
        <h1 id="gracias"><%= locals.name %>, gracias por visitarnos!</h1>
    </div>
  </body>
</html>
